.App, .Filtro, .Produtos, .Carrinho {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
}

.Filtro, .Produtos, .Carrinho {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.Filtro {
  flex: 1;
}

.Produtos {
  flex: 3;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.Produtos > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.Produtos > ul > li {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: 3px dotted pink;
}

.Carrinho {
  flex: 1;
}

.listaCarrinho > span {
  margin: 3px;
}

.itemX {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.itemX:hover {
  color: red;
}

button {
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}