header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
}
header > select {
    grid-column-start: end;
    width: 200px;
}

header > p {
    font-weight: bold;
}

button {
    width: 100%;
    transition-duration: 0.4s;
}
  
button:hover {
    background-color: black; 
    color: white;
}